/* Reset de márgenes y paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipografía global */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: white;
    background-color: #111063e0;
}

/* Colores temáticos */
:root {
    --rojo:#D32F2F; /* Rojo de la bandera chilena */
    --blanco: #ffffff;
    --azul: #0039a6; /* Azul de la bandera chilena */
    --gris-claro: #f4f4f4;
    --gris-oscuro: #555;
}

/* Estilos del Navegador */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(218, 27, 20, 0.719);
    padding: 1rem 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar p{

    color: #ffffff;
    font-size: 2rem;
    margin-right: auto;
    font-family:cursive;

}

.logo img {
    width: 100px;
}

.nav-links {
    list-style:none;
    display: flex;
    font-size: 20px;
}

.nav-links li {
    margin-left: 2rem;
}

.nav-links a {
    color: var(--blanco);
    text-decoration: none;
    font-weight: 300;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--rojo);
}
/*ultima actualizacion*/


.hamburger {
    display: none;
    font-size: 1.5rem;
    color: var(--blanco);
    cursor: pointer;
    
}
/*seccion carrito*/
#cart-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
    color: white;
}

#cart-icon i {
    margin-right: 5px;
}

#inicio, #categorias, #contacto {
    padding: 50px 20px;
    text-align: center;

}
 
/* agregado para carrito categoria*/

.cart-container {
    margin-top: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 100%;
    height: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: left;
}

.cart-total {
    text-align: right;
    margin-top: 20px;
}



.removeItemBtn{

    background-color:#D32F2F;
    color:white;
    padding: 10px 20px;

}

.removeItemBtn:hover {
    background-color: darkred;
}

#checkoutBtn {
    background-color: #D32F2F;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#checkoutBtn:hover {
    background-color: darkred;
}


/* Sección Hero (Inicio) */
.hero {
    background: url('assets/img/logo2.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: cursive;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-content {
    position: relative;
    color: var(--blanco);
    text-align: center;
    max-width: 600px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn {
    background-color: var(--rojo);
    color: var(--blanco);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn:hover {
    background-color: #a71d16;
}

/* Sección Categorías */

.categorias {
    padding: 4rem 2rem;
    text-align: center;
}

.categorias h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: white;
    text-align: center;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    width: 100%;

}

.category-card {
    background-color: var(--blanco);
    padding: 1rem;
    border: 2px solid rgb(19, 2, 2);
    border-radius: 10px;
    width: 300px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.category-card h3 {
    padding: 1rem;
    color: var(--rojo);
    text-align: center;
}

.category-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}


/*titulo categorias*/

#categoriaContent h2{

    text-align: center;
    padding: 2rem;
    margin-bottom: 2rem;
}


/* Estilo para las imágenes dentro de las cards de subcategorias*/

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* Espacio entre cards */
    width: 100%;
    justify-content: space-between;
}
 

.card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(31, 7, 7, 0.1);
    overflow: hidden;
    width: 200px; /* Ancho fijo para las cards */
    text-align: center;
    padding: 1rem;
    background-color:white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0; /* Solo bordes superiores redondeados */
}

.card h3 {
    margin: 10px 0;
    font-size: 1.2rem;
    color: rgb(124, 120, 120);
}

.card p {
    margin: 5px 0;
    font-size: 1rem;
    color: rgb(102, 97, 97);
}

.card button {
    background-color: rgb(236, 23, 23);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.card button:hover {
    background-color: darkred;
}
/* styles.css */

.cart-item-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 8px;
}



/* Sección Contacto */
.contacto {
    padding: 4rem 2rem;
    background-color: var(--blanco);
    text-align: center;
}

.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: white;
}

form {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: white;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: white;
    outline: none;
}

button[type="submit"] {
    background-color:red;
    color: var(--blanco);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: rgb(114, 32, 32);
}

/* Modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}

.modal-content {
    background-color: var(--blanco);
    margin: 15% auto;
    padding: 2rem;
    border: 1px solid white;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
    position: relative;
}

.close-button {
    color: var(--gris-oscuro);
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 1.5rem;
    cursor: pointer;
}

.close-button:hover {
    color: var(--rojo);
}

/* Pie de Página */
footer {
    background-color:rgba(51, 39, 21, 0.719);
    color: var(--blanco);
    text-align: center;
    padding: 1rem;
}
/* Confeti */
@keyframes confetti-fall {
    0% { transform: translateY(-100px) rotate(0deg); opacity: 1; }
    100% { transform: translateY(100vh) rotate(360deg); opacity: 0; }
}

.confetti {
    position: fixed;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: var(--rojo);
    animation: confetti-fall 5s linear infinite;
    pointer-events: none;
}

.confetti:nth-child(odd) {
    background-color: var(--azul);
}

.confetti:nth-child(even) {
    background-color: var(--rojo);
}


/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        position: fixed;
        right: 0;
        height: 100vh;
        top: 0;
        background-color:brown;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-links li {
        margin: 2rem 0;
    }

    .nav-links a {
        font-size: 1.5rem;
    }

    .nav-links.active {
        transform: translateX(0);
    }

    .hamburger {
        display: block;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .categories .category-container {
        flex-direction: column;
        align-items: center;
    }
}
